.tmp
.DS_Store
.idea
.sass*
.settings
.project
.tern-project
._*
.Spotlight-V100
.Trashes
/*.sublime-project
*.sublime-workspace
*.iml
*.ipr
*.iws
*.swo
*.swp
*.swn
*.swm
*#
*~
**/.*-cache
*.bak
nbproject
node_modules
npm-debug.log*
css/**/*.*
dist/
/validate.js
/bundle.js
